{% extends 'base_autenticacao.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/autenticacao.css' %}">
{% endblock %}


{% block 'title' %}Cadastre-se{% endblock %}


{% block 'body' %}


<div class="container-fluid">
<div class="row">
<div class="col-md-3 sidebar">
<div class="logo_sidebar">
<h2 class="logo">

  
</h2>
</div>
<div class="corpo_sidebar">
<div>
<h2 style="font-weight: 800;"  class="titulo cor_branca">Login</h2>
</div>
<br>

<br>
<div>
<p class="cor_branca descricao">Venha fazer parte da nossa família.</p>
<p style="margin-top:-20px" class="cor_branca descricao">Os melhores preços estão aqui.</p>
<br>
<br>

<a class="btn_logar" href="{% url 'cadastro'%}">Cadastre-se</a>

</div>
</div>
</div>

<div class="col-md-9">
<br>
<br>
<br>
<div class="area_cadastrar">
<form action="{% url 'login'%}" method="post">{% csrf_token %}

<h1 style="font-weight: 900;" class="titulo_area_cadastrar" >Login</h1>
<br>
<br>
{% if messages%}
    {% for i in messages%}
        <div style="width: 1000px ; margin-bottom: 25px; padding-top: 3px; padding-bottom: 3px;  margin-top: 6px; border-radius: 5px; margin-left: 30%;" class="alert {{i.tags}}" role="alert">
            {{i}}
          
        </div>
    {% endfor%}
{%endif%}

<input name="username" class="input_cadastrar input_cadastrar_nome" type="text" placeholder="Username...">

<br>

<br>
<input name="senha" class="input_cadastrar input_cadastrar_senha" type="password" placeholder="Senha...">
<br>
<br>
<input style="margin-top: -0px;" class="btn_cadastrar" type="submit" value="Logar">



{% endblock %}
